<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackerNews+</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h2>HackerNews</h2>
    <div class="container">
        <ol>
            {% for item in links %}
            <li>
                    <div>
                        <a href='{{item.link}}'>{{item.title}}</a>
                        <p>{{item.votes}} points</p>
                    </div>
            </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>
